# MySQL Database config
MYSQL_HOST="db-4450.cluster-c9q6eyiik9it.us-east-2.rds.amazonaws.com"
MYSQL_USER="admin"
MYSQL_PASSWORD="ghp_dN2elKwmhWb2XVDoJ&&%^Dhd"
MYSQL_DATABASE="db"
MYSQL_PORT=3306

# Musescore 3 path
MUSESCORE_PATH_EXE="C:\Program Files\MuseScore 3\bin\MuseScore3.exe"

# Cert path
CERT_PRIVATE="certs/private.key"
CERT_CERTIFICATE="certs/certificate.crt"
CERT_CA_BUNDLE="certs/ca_bundle.crt"

# HTTPS
HTTPS_RUN=