.form-inputs{
    position:relative;
    padding:15px;
}
.form-inputs .form-control{
    height:45px; 
    
}

.form-inputs .form-control:focus{
    box-shadow:none;
    border:1px solid #000;

}

.form-inputs i{
    position:absolute;
    right:10px;
    top:15px;
    
}

.searchPage-container {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
}

.searchPage-center {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}